name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      - '.github/workflows/firebase-hosting.yml'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: cd frontend && npm install

      - name: Build
        run: cd frontend && npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_SCHOOL_SOFTWARE }}'
          channelId: live
          projectId: connecttocampus-c98e4
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
